/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.container {
	width: 100%;
	max-width: 45rem;
	margin: 0 auto;
}

.chat-view {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
	padding-bottom: 32rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1.2rem;
}

.chat-input {
	width: 100%;
	resize: vertical;
	min-height: 6rem;
	font-size: 1rem;
}

.chat-footer {
	position: fixed;
	background-color: var(--background-primary);
	padding: 1rem;
	border-top: 1px solid var(--background-modifier-border);
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}

.chat-footer .container {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1rem;
}

.primary-action-button {
	padding: 1.5rem 2rem;
	font-weight: 600;
}

.markdown-block * {
	user-select: text !important;
}

.chat-message {
	padding: 0rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--background-modifier-border);
	transition: all 150ms;
	position: relative;
	scroll-margin-top: 2rem;
}

.chat-message:hover {
	background-color: var(--background-primary-alt);
}

.chat-message-role {
	position: absolute;
	top: 0;
	left: 0.66rem;
	transform: translateY(-50%);
	font-size: 0.75rem;
	padding: 0 0.33rem;
	background-color: var(--background-primary);
	color: var(--text-muted);
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 150ms;
}

.chat-message:hover .chat-message-role, .chat-message:hover .chat-message-action-list {
	background-color: var(--background-primary-alt);
	border-color: var(--background-modifier-border);
}

.chat-message-action-list {
	position: absolute;
	top: 0;
	right: 0.66rem;
	transform: translateY(-50%);
	display: flex;
	gap: .5rem;
	padding: 0.33rem;
	background-color: var(--background-primary);
	color: var(--text-muted);
	border-radius: 8px;
	border: 1px solid transparent;
}

.chat-message-action-list button{
	padding: 0rem 1rem;
	font-size: 0.75rem;
	height: 1.33rem;
}

.chat-message-editor {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.chat-message-edit-area{
	width: 100%;
	height: 12rem;
	font-size: 1rem;
}

.chat-message-editor-footer{
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.spacer{
	flex: 1;
}
